{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Appconnect Campaign Dialer</h1>
    <br>
    <p>Available on AppConnect, this application allows customers to create a campaign list to outbound call or text a contact.
      <br>Campaigns can be generated through the UI or via API's and they run on a scheduled basis.</p>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Sales</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Sales Disqualifiers</p>
              <ul>
                <li>I want a trial account with the Campaign Dialer installed</li>
                <li>Opportunity size is less than 50 seats</li>
                <li>I would like to use short-codes for SMS.</li>
                <li>I want to run campaigns with a multilevel IVR.</li>
                <li>I want to route to a ring group not to a phone number.</li>
                <li>I'm NOT okay paying 1.5 cents per minute or per SMS.</li>
                <li>I want to host contacts within Talkdesk Campaigns.</li>
                <li>I can't support REST APIs and will not create data manually.</li>
                <li>I want to be able to match calls made via Talkdesk Campaigns to calls <br>received by Agents on Talkdesk.</li>
                <li>I want to send more than 3 SMS on a US Toll Free per seconds.</li>
                <li>I want certain campaigns to have more priority over others.</li>
                <li>I want to reference more than 5 custom fields on a campaign line</li>
                <li>I want Talkdesk to store a do-not-call-list (DNC)</li>
              </ul>
            <br>
            <p><span style="font-weight: bold;">Product Features</p>
            <ul>
              <li>Create a Category (Labels for Categories)</li>
              <li>Create a Template so Campaign creation is faster
                <ul>
                  <li>Campaign inherits the outbound Talkdesk number that the customer gets called/texted with </li>
                  <li>Campaigns inherit time zones and buisness hours </li>
                  <li>Campaigns inherit the outbound message and IVR keypress info for voice campaigns</li>
                </ul>
              </li>
              <li>Add additional numbers to an active Campaign</li>
              <li>Define a hit ratio to throttle calls. Ex) 50% hit ratio means that if 2 agents are logged in, 4 calls will be made by the dialer</li>
            </ul>
          <br>
            <p><span style="font-weight: bold;">Before Selling</p>
              <ul>
                <li>Go back and re-read the disqualifiers</li>
                <li>Duplicate and fill in this form <a href="https://docs.google.com/document/d/1OoZY04iBFYVFcGFQOf1HxqIuuztq33agEKYW5d67uos/edit">here</a></li>
              </ul>
              <br>
            <p><span style="font-weight: bold;">Gain Access</p>
              <ul>
                <li>Reach out to Nick Rios and cc Mike Klas for the time being. In your request, include information about the opportunity as well as timeline.</li>
              </ul>
              <br>
              <p><span style="font-weight: bold;">Getting Started</p>
                <ul>
                  <li>Functional Training <a href="#">here (provided on request)</a></li>
                  <li>API Training <a href="#">here (provided on request)</a></li>
                </ul>
                <br>
        </figure>
      </div>
    </div>
  </div>
</section>
{% endblock %}
