{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Custom Callback Solution</h1>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Sales</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Sales Disqualifiers</p>
              <ul>
                <li>I want to remove a number from a callback queue after I schedule it</li>

              </ul>
            <br>
            <p><span style="font-weight: bold;">Product Features</p>
            <ul>
              <li>This application allows you to schedule callbacks by extending Talkdesk Callback API</li>
              <li> The call from Callback API looks like an inbound call to an available agent. When the agent picks up, an outbound call will occur to the client.</li>
              <li>It's possible to schedule a callback in 1 hour or 1 day</li>
              <li>Open API accessible to HTTP notifier or other web request</li>
            </ul>
          <br>
            <p><span style="font-weight: bold;">Before Selling</p>
              <ul>
                <li>Go back and re-read the disqualifiers</li>
                <li>Duplicate and fill in this form <a href="#" target="_blank">here [in progress]</a></li>
              </ul>
              <br>
            <p><span style="font-weight: bold;">Gain Access</p>
              <ul>
                <li>Reach out to Nuno Gomes and cc Mike Klas for the time being. In your request, include information about the opportunity as well as timeline.</li>
              </ul>
        </figure>
      </div>
    </div>
  </div>
</section>
{% endblock %}
