{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Custom Callback Solution</h1>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Sales</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Sales Disqualifiers</p>
              <ul>
                <li>I want to remove a number from a callback queue</li>
                <li> TODO: collect additional info from Nuno</li>
              </ul>
            <br>
            <p><span style="font-weight: bold;">Product Features</p>
            <ul>
              <li>TODO: Have Nuno provide details to complete list ..</li>
            </ul>
          <br>
            <p><span style="font-weight: bold;">Before Selling</p>
              <ul>
                <li>Go back and re-read the disqualifiers</li>
                <li>Duplicate and fill in this form <a href="#" target="_blank">here</a></li>
              </ul>
              <br>
            <p><span style="font-weight: bold;">Gain Access</p>
              <ul>
                <li>Reach out to Nuno Gomes and cc Mike Klas for the time being. In your request, include information about the opportunity as well as timeline.</li>
              </ul>
              <br>
              <p><span style="font-weight: bold;">Getting Started</p>
                <ul>
                  <li>Functional Training <a href="#">here (provided on request)</a></li>
                </ul>
                <br>
        </figure>
      </div>
    </div>
  </div>
</section>
{% endblock %}
