{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Demo Engineer Processes</h1>
    <div style="text-indent: 10px;">
      <p style="font-weight: bold;">Contents:</p>
        <ul>
          <li><a href="#studio">Building Studio Flows</a></li>
          <li><a href="#testing">Testing</a></li>
          <li><a href="#research">Research</a></li>
          <li><a href="#escalations">Escalations</a></li>
        </ul>
    </div>
  </div>
</section>
<section class="section">
    <div class="container">
      <div id="studio" class="header-centered">
        <br>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h4>Building Studio flows</h4>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> a </span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">b</span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">c</span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
              </ul>
          </figure>
      </div>
    </div>
</section>
<section class="section bg-grey">
    <div class="container">
      <div id="testing" class="header-centered">
        <br>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h4>Testing</h4>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> a </span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">b</span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">c</span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
              </ul>
          </figure>
      </div>
    </div>
</section>
<section class="section">
    <div class="container">
      <div id="research" class="header-centered">
        <br>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h4>Research</h4>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> a </span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">b</span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">c</span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
              </ul>
          </figure>
      </div>
    </div>
</section>
<section class="section bg-grey">
    <div class="container">
      <div id="escalations" class="header-centered">
        <br>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h4>Escalations</h4>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> a </span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">b</span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">c</span>
                  <ul>
                    <li>i</li>
                  </ul>
                </li>
              </ul>
          </figure>
      </div>
    </div>
</section>
{% endblock %}
