{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Demo Engineering Onboarding Plan</h1>
    <br>
    <p>Please get started with the different categories simultaneously--but follow the order of
      tasks within a given category. <br> Every week will culminate with an End of Week challenge.</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <div id="onboarding" class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Week 1</h3>
            </figcaption>
            <ul>
              <li>
                <span style="font-weight: bold;"> Company and Industry </span>
                <ul>
                  <li>Read: Talkdesk Vision - <a href="https://docs.google.com/presentation/d/1_VU5ehmEL6gBy8fh-gScyZwrwu-hwGMpGVn0uJcWmvc/edit?usp=sharing" target="_blank">Link</a></li>
                  <li>Read: Competitive Overview - <a href="https://docs.google.com/presentation/d/1lnE6C9Q1O-4BrsrnR9y9jTJIBp1HtTEokAs7VRKZOhU/edit?usp=sharing" target="_blank">Link</a></li>
                  <li>Watch: Customer Video SICOM - <a href="https://www.talkdesk.com/resources/videos/sicom/" target="_blank">Link</a></li>
                  <li>Watch: Customer Video Avetta - <a href="https://www.talkdesk.com/resources/videos/avetta/" target="_blank">Link</a></li>
                </ul>
              </li>
              <li>
                <span style="font-weight: bold;">Systems and Tools</span>
                <ul>
                  <li>Task: Confirm access HR applications to Benefits, TripEasy, Expensify <br>
                    (If Missing from OneLogin, Reach out to HR or Manager)</li>
                  <li>Task: Ensure access to Google Drive, Zoom, Jira
                    <ul>
                      <li>Read: Signing up for Talkdesk Zoom  <a href ="https://talkdesk.atlassian.net/wiki/spaces/IT/pages/1077870693/How+to+Sign+up+for+Talkdesk+Zoom+Account">here</a></li>
                      <li>Task: You may need to request access from a Basic to a Professional account, this can be done by sending an email to: it@talkdesk.com, otherwise you will be limited to a maximum of a 45 minute meeting </li>
                      <li>Read: Scheduling meetings with Zoom- <a href ="https://talkdesk.atlassian.net/wiki/spaces/IT/pages/490308656/Scheduling+a+Meeting">Link</a></li>
                      <li>Task: Jira Access - request professional services access to all necessary pages and boards from it@talkdesk.com Tell them you are a new hire on the professional services team and that you’d like access to Jira pages pertaining to professional services</li>
                    </ul>
                  </li>
                  <li>Task: Join Slack Channels: #presales-engineering, <br>#professional-services, #demo-engineering, #techquestions</li>
                  <li>Task: Confirm access to Talkdesk instance: Talkforce</li>
                  <li>Task: Confirm access to 2 Salesforce instances: Talkdesk internal and Talkforce</li>
                  <li>Task: Generate your email signature - <a href ="https://talkdesk.atlassian.net/wiki/spaces/IT/pages/830835155/Signature+Generator" target="_blank">Link</a></li>
                  <li>Read: Scheduling meetings with Zoom- <a href ="https://talkdesk.atlassian.net/wiki/spaces/IT/pages/490308656/Scheduling+a+Meeting" target="_blank">Link</a></li>
                </ul>
              </li>
              <li>
                <span style="font-weight: bold;">Product Skills</span>
                <ul>
                  <li>Read: System and Network Requirements - <a href="https://support.talkdesk.com/hc/en-us/articles/204370859-Setting-up-System-Requirements-and-Network-Settings" target="_blank">Link</a></li>
                  <li>Task: Complete all Talkdesk Academy Courses - <a href="https://academy.talkdesk.com/" target="_blank">Link</a></li>
                  <li>Task: Create Your Demo Account within Talkdesk (yourname.mytalkdesk.com)</li>
                  <li>Task: Create Your Salesforce Developer Account - <a href ="https://developer.salesforce.com/" target="_blank">Link</a></li>
                  <li>Task: Connect Salesforce and Talkdesk together - <a href="https://support.talkdesk.com/hc/en-us/articles/214557866-Installing-Talkdesk-for-Salesforce-" target="_blank">Link</a></li>
                </ul>
              </li>
              <li>
                <span class="highlight-green" style="font-weight: bold;">End of Week 1 Challenge</span>
                <ul>
                  <li>Complete Professional Services Challenge 1 - <a href="https://talkdesk.atlassian.net/wiki/spaces/SC/pages/394199460/ProServ+Challenge+1" target="_blank">Link</a></li>
                </ul>
              </li>
            </ul>
        </figure>
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Week 2</h3>
            </figcaption>
            <ul>
              <li>
                <span style="font-weight: bold;">Systems and Tools</span>
                <ul>
                  <li>Task: Gain Access to Support Dashboard and Universal Agent - <a href="https://talkdesk.atlassian.net/wiki/spaces/DOC/pages/4718777/Accessing+Support+Dashboard+Universal+Agent" target="_blank">Link</a></li>
                  <li>Task: Use Universal Agent to create an Admin account in one of the Talkdesk Demo Instances</li>
                  <li>Task: Download and Use Keybase - <a href="https://keybase.io/" target="_blank">Link</a></li>
                  <li>Task: Download and Use Postman - <a href="https://www.getpostman.com/" target="_blank">Link</a></li>
                  <li>Task: Create a Github with Talkdesk Email and enable two-factor authentication with Google Authenticator <br> mobile app - <a href="https://github.com/" target="_blank">Link</a></li>
                  <li>Task: Add your Github and Keybase user to your Slack profile</li>
                </ul>
              </li>
              <li>
                <span style="font-weight: bold;">Product Skills</span>
                <ul>
                  <li>Task: Get Studio enabled on your demo instance (ask Studio Team), and <a href="https://docs.google.com/presentation/d/1AeGHZOo9dofE1b6AvOqTCnMQs3rzK6BCrrhqYhUepK8/edit" target="_blank">build these flows</a></li>
                  <li>Watch: Zendesk integration webinar - <a href="https://www.talkdesk.com/resources/webinars/talkdesk-integration-with-zendesk/thank-you/" target="_blank">Link</a></li>
                  <li>Read: Talkdesk Contact Sync - <a href="https://support.talkdesk.com/hc/en-us/articles/115000294003-Contact-Sync-FAQ" target="_blank">Link</a></li>
                  <li>Read: Custom HTTP Component and Salesforce Apex Classes / webservices sections - <a href="https://talkdesk.atlassian.net/wiki/spaces/CXMWE/pages/740655530/Components+Enablement" target="_blank">Here</a></li>
                </ul>
              </li>
              <li>
                <span class="highlight-green" style="font-weight: bold;">End of Week 2 Challenge</span>
                <ul>
                  <li>Complete Professional Services Challenge 2 - <a href="https://talkdesk.atlassian.net/wiki/spaces/SC/pages/394199474/ProServ+Challenge+2" target="_blank">Link</a></li>
                  <li>Explain and present a viable customer use case for an <br> Integration between Talkesk Studio and a Salesforce Class</li>
                </ul>
              </li>
            </ul>
        </figure>
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Rolling Tasks</h3>
            </figcaption>
            <ul>
                <li>Task: Start on Salesforce Platform Developer training/certifications - <a href="https://trailhead.salesforce.com/credentials/platformdeveloperi" target="_blank">Link</a></li>
                <li>Task: Start on Twilio training/certifications - <a href="https://www.twilio.com/training" target="_blank">Link</a></li>
                <Li>Task: Answer questions on #demo-engineering and #presales-engineering in Slack</li>
            </ul>
        </figure>
      </div>
    </div>
  </div>
</section>
{% endblock %}
