{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding ">
    <h1>Demo Engineer Guide</h1>
    <br>
    <p>The purpose of this guide is to explain the different pages located in the drop down menu. When in doubt, first check this page.</p>
  </div>
</section>
<section class="section">
    <div class="container ">
      <div class="header-centered">
        <br>
          <ul style="text-align: left;">
            <li>
              <span style="font-weight: bold;">Onboarding</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Demo-Engineering/Onboarding">here</a></li>
                <li>The onboarding plan for newly hired Demo Engineers</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Processes</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Demo-Engineering/Processes">here</a></li>
                <li>Contains the processes which the Demo Engineering team follows</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Quick Help</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Demo-Engineering/Help">here</a></li>
                <li>This page is currently a work in progress but it will be the page for asking quick questions or submitting quick technical requests to demo engineers.</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Training Material</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Demo-Engineering/Train">here</a></li>
                <li>This page is currently a work in progress but it will contain links and guides through tutorials as well as training material</li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </section>

{% endblock %}
