{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Feature Library [In Progress]</h1>
  </div>
</section>
<section class="section">
  <div class="container">
    <div id="onboarding" class="header-centered">
      <br>
        <div style="text-indent: 10px;">
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h3>Product Focused Demos</h3>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;">Agent Assist</span>
                  <ul>
                    <li>Learn More - <a href="/Feature2">here</a></li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Omnichannel</span>
                  <ul>
                    <li>Learn More - <a href="/Feature1">here</a></li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Talkdesk API</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Atlas</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Boost</span>
                  <ul>
                  <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Talkdesk Branded Site</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Callbar</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Talkdesk IQ</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span  style="font-weight: bold;">Talkdesk Live</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span  style="font-weight: bold;">Studio</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">xConnect</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Reporting</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Universal Device Support</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Mobile</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
              </ul>
          </figure>
        </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="onboarding" class="header-centered">
      <br>
        <div style="text-indent: 10px;">
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h3>Integration Focused Demos</h3>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> Salesforce</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> Zendesk</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> Microsoft Teams</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> Microsoft Dynamics </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> ServiceNow </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> Freshworks </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> Infusionsoft</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
              </ul>
          </figure>
        </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div id="onboarding" class="header-centered">
      <br>
        <div style="text-indent: 10px;">

          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h3>Appconnect Demos</h3>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> Acquire</span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> AI-Powered Virtual Agents by SmartAction </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> AutoReach </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> CSI Virtual Observer </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> Envision Workforce Optimization </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> Loxysoft Proscheduler WFM </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> Observe.AI </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> ProcedureFlow </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;"> TextLine </span>
                  <ul>
                    <li>Port over info</li>
                  </ul>
                </li>
              </ul>
          </figure>
        </div>
    </div>
  </div>
</section>




{% endblock %}
