{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Agent Assist</h1>
    <div style="text-indent: 1px;">
      <p style="font-weight: bold;">Contents:</p>
        <ul>
          <li><a href="https://talkdesk.atlassian.net/wiki/spaces/TPT/pages/1135773276/Agent+Assist+Sales+Engineering+Guide">Product Wiki</a></li>
          <li><a href="#disqualifiers">Sales Disqualifiers</a></li>
          <li><a href="#techfaq">Technical FAQ</a></li>
        </ul>
      </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <br>
    <div id="disqualifiers" class="header-centered">
      <br>
      <h3>Sales Disqualifiers</h3>
  </div>
  <div style="text-indent: 10px;">
  <p style="font-weight: bold;">Non-Qualified Opportunities:</p>
  <ul>
    <li>Opportunity is less than 100 seats</li>
    <li>I haven't reached out to Value Engineering</li>
  </ul>
  <br>
  <p style="font-weight: bold;">Technology Gaps:</p>
  <ul>
    <li>I want to connect to SOAP API's</li>
    <li>My Knowledge Base is not up to date and is unorganized</li>
    <li>I don't want to authenticate in my HTTP request header</li>
  </ul>
  </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <br>
    <div id="techfaq" class="header-centered">
      <br>
      <h3>Technical FAQ</h3>
    </div>

  </div>
</section>
{% endblock %}
