{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Agent Assist</h1>
    <div style="text-indent: 1px;">
      <p style="font-weight: bold;">Contents:</p>
        <ul>
          <li><a href="#wiki">Product Wiki</a></li>
          <li><a href="#disqualifiers">Sales Disqualifiers</a></li>
          <li><a href="#techfaq">Technical FAQ</a></li>
        </ul>
      </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="wiki" class="header-centered">
      <br>
      <h3>Product Wiki</h3>
    </div>
    <p>Click the links for easy routing to:</p>
      <ul>
        <li><a href ="https://talkdesk.atlassian.net/wiki/spaces/TPT/pages/1135773276/Agent+Assist+Sales+Engineering+Guide" target="_blank">Introduction</a></li>
        <li><a href="https://talkdesk.atlassian.net/wiki/spaces/TPT/pages/1144160393/Agent+Assist+Demo+Videos" target="_blank">Demo Videos</a></li>
        <li><a href="https://talkdesk.atlassian.net/wiki/spaces/TPT/pages/1147273847/Agent+Assist+EA+Customers" target="_blank">Customer Use Cases</a></li>
      </ul>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="disqualifiers" class="header-centered">
      <br>
      <h3>Sales Disqualifiers</h3>
    </div>

  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="techfaq" class="header-centered">
      <br>
      <h3>Technical FAQ</h3>
    </div>

  </div>
</section>
{% endblock %}
