{% extends "layout.html" %}

{% block sections %}
					<section class="section section-hero home-en">
						<div class="container no-padding">
							<div class="w-layout-grid grid-3col">
								<div id="w-node-7fc90ec15004-4ef91e9c" class="hero-content">
									<h1 class="text-white">We
										<span class="text-green">are</span>
										<br/>Talkdesk
										<br/>
										<br/>Client Service Engineering
									</h1>
									<a href="#products" class="cta-button bg-green hide w-inline-block">
										<div>Check out our Demos</div>
									</a>
								</div>
							</div>
						</div>
					</section>
					<section class="section bg-grey">
						<div class="container">
							<div class="header-centered">
								<h2><br>Hit a Technical Roadblock?
									<br/> <span class="highlight-green">Follow These Steps</span>
								</h2>
							</div>
							<div class="w-layout-grid grid-3col">
								<div class="vert-center-item">
									<img src="{{ url_for('static', filename='Step1.png') }}" alt="" class="usp-icon"/>
									<h4>First</h4>
									<div class="caption">
										<div class="text-caption">Consult your team&#x27;s Wiki or check Processes in the Guide pages in the drop-down menus</div>
									</div>
								</div>
								<div class="vert-center-item">
									<img src="{{ url_for('static', filename='Step2.png') }}" alt="" class="usp-icon"/>
									<h4>Still Blocked?</h4>
									<div class="caption">
										<div class="text-caption">Reach out to Demo <br/> Engineering or PS SME</div>
									</div>
								</div>
								<div class="vert-center-item">
									<img src="{{ url_for('static', filename='Step3.png') }}" alt="" class="usp-icon"/>
									<h4>If All Else Fails..</h4>
									<div class="caption">
										<div class="text-caption">Submit a help request to<br/> Integration Engineering Jira board</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="section">
						<div class="container">
							<div class="header-centered">
								<h1>
									<br><span class="highlight-green">Features Highlights!</span>
								</h1>
							</div>
							<div class="w-layout-grid grid-3col">
								<div id="w-node-529ac0a7ec9a-c0a7ec99" class="img-mockup">
									<img src="{{ url_for('static', filename='Omnichannel.png') }}" width= "550" alt="" class="dashboard-left"/>
								</div>
								<div id="w-node-529ac0a7ec9c-c0a7ec99" class="product-desc">
									<h2>Omnichannel 2.0</h2>
									<p class="paragraph">Find everything you need to know - trainings, docs, gaps, etc.</p>
									<a href="/Feature1" class="cta-button w-inline-block">
										<div>here</div>
									</a>
								</div>
							</div>
						</div>
					</section>
					<section class="section bg-grey">
						<div class="container">
							<div class="w-layout-grid grid-3col">
								<div id="w-node-078396366d30-96366d2f" class="product-desc text-right-align-dt">
									<h2>Agent Assist</h2>
									<p class="paragraph-2">Find everything you need to know - trainings, docs, gaps, etc.</p>
									<a href="/Feature2" class="cta-button w-inline-block">
										<div>here</div>
									</a>
								</div>
								<div id="w-node-078396366d38-96366d2f" class="img-mockup">
									<img src="{{ url_for('static', filename='AgentAssist.png') }}" width="400" height="480" alt="" />
								</div>
							</div>
						</div>
					</section>
					<section id="products" class="section">
						<div class="container">
							<div class="header-centered">
								<h2><br>
									<span class="highlight-text">Explore</span>
									<br/>Talkdesk WOW Demos
								</h2>
							</div>
							<div class="w-layout-grid grid-3col">
								<div id="w-node-7b53334338eb-4ef91e9c" class="card">
								<div class="header-card convoy"></div>
									<div class="content-card">
										<div class="copy-card">
											<h3 class="heading-card">Convoy</h3>
											<p class="desc-card">Login to the Talkforce instance of Talkdesk and demo agent interactions in the Omnichannel tab. Reporting and Dashboards available in Salesforce
												<br/>
											</p>
										</div>
										<div class="link-card">
											<a href="/convoy" class="cta-text">Explore</a>
										</div>
									</div>
								</div>
								<div id="w-node-7b533343390a-4ef91e9c" class="card">
								<div class="header-card private"></div>
									<div class="content-card">
										<div class="copy-card">
											<h3 class="heading-card">[In Progress]</h3>
											<p class="desc-card">Lorem ipsum dolor sit amet, pro purto melius ut, ne sed mutat qualisque, verear sensibus est ei.</p>
										</div>
										<div class="link-card">
											<a href="/demo2" class="cta-text">Explore</a>
										</div>
									</div>
								</div>
								<div id="w-node-aa3733e63977-4ef91e9c" class="card">
									<div class="header-card dog"></div>
									<div class="content-card">
										<div class="copy-card">
											<h3 class="heading-card">[In Progress]</h3>
											<p class="desc-card">Lorem ipsum dolor sit amet, pro purto melius ut, ne sed mutat qualisque, verear sensibus est ei.</p>
										</div>
										<div class="link-card">
											<a href="/demo3" class="cta-text">Explore</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

{% endblock %}
