{% extends "layout.html" %}

{% block sections %}
					<section class="section section-hero home-en">
						<div class="container no-padding">
							<div class="w-layout-grid grid-3col">
								<div id="w-node-7fc90ec15004-4ef91e9c" class="hero-content">
									<h1 class="text-white">We
										<span class="text-green">are</span>
										<br/>Talkdesk
										<br/>
										<br/>Client Service Engineering
									</h1>
									<a href="#products" class="cta-button bg-green hide w-inline-block">
										<div>Check out our Demos</div>
									</a>
								</div>
							</div>
						</div>
					</section>
					<section class="section bg-grey">
						<div class="container">
							<div class="header-centered">
								<h2><br>Welcome to your Toolkit!</h2>
								<p>This is the one-stop-shop for client service engineers to access anything from info and resources to internal tools and solutions.
									This page is organized so that the pages you need are grouped under your team. The Products tab is a library of built custom solutions</p>
							</div>
							<div class="w-layout-grid grid-3col">
								<div class="vert-center-item">
									<img src="{{ url_for('static', filename='SE.png') }}" alt="" class="usp-icon"/>
									<h4>Sales Engineer</h4>
									<div class="caption">
										<div class="text-caption"><a href="/Sales-Engineering/Guide">Click here to navigate to your team's <br>home page and guide. </a> </div>
									</div>
								</div>
								<div class="vert-center-item">
									<img src="{{ url_for('static', filename='DE.png') }}" alt="" class="usp-icon"/>
									<h4>Demo Engineer</h4>
									<div class="caption">
										<div class="text-caption"><a href="/Demo-Engineering/Guide">Click here to navigate to your team's <br>home page and guide. </a> </div>
									</div>
								</div>
								<div class="vert-center-item">
									<img src="{{ url_for('static', filename='IE.png') }}" alt="" class="usp-icon"/>
									<h4>Integrations Engineer</h4>
									<div class="caption">
										<div class="text-caption"><a href="/Integrations-Engineering/Guide">Click here to navigate to your team's <br>home page and guide. </a> </div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="section" id ="Omni">
						<div class="container">
							<div class="header-centered">
								<h1>
									<br><span class="highlight-green">Features Highlights!</span>
								</h1>
							</div>
							<div class="w-layout-grid grid-3col">
								<div id="w-node-529ac0a7ec9a-c0a7ec99" class="img-mockup">
									<img src="{{ url_for('static', filename='Omnichannel.png') }}" width= "550" alt="" class="dashboard-left"/>
								</div>
								<div id="w-node-529ac0a7ec9c-c0a7ec99" class="product-desc">
									<h2>Omnichannel 2.0</h2>
									<p class="paragraph">Find everything you need to know - trainings, docs, gaps, etc.</p>
									<a href="/Feature1" class="cta-button w-inline-block">
										<div>here</div>
									</a>
								</div>
							</div>
						</div>
					</section>
					<section class="section bg-grey" id = "AA">
						<div class="container">
							<div class="w-layout-grid grid-3col" >
								<div id="w-node-078396366d30-96366d2f" class="product-desc text-right-align-dt">
									<h2>Agent Assist</h2>
									<p class="paragraph-2">Find everything you need to know - trainings, docs, gaps, etc.</p>
									<a href="/Feature2" class="cta-button w-inline-block">
										<div>here</div>
									</a>
								</div>
								<div id="w-node-078396366d38-96366d2f" class="img-mockup">
									<img src="{{ url_for('static', filename='AgentAssist.png') }}" width="400" height="480" alt="" />
								</div>
							</div>
						</div>
					</section>
					<section id="products" class="section">
						<div class="container">
							<div class="header-centered">
								<h2><br>
									<span class="highlight-text">Explore</span>
									<br/>Talkdesk WOW Demos
								</h2>
							</div>
							<div class="w-layout-grid grid-3col">
								<div id="w-node-7b53334338eb-4ef91e9c" class="card">
								<div class="header-card convoy"></div>
									<div class="content-card">
										<div class="copy-card">
											<h3 class="heading-card">Convoy</h3>
											<p class="desc-card">Demo live Omnichannel interactions in Talkforce.</p>
										</div>
										<div class="link-card">
											<a href="/Wow-Demos/Convoy" class="cta-text">Explore</a>
										</div>
									</div>
								</div>
								<div id="w-node-7b533343390a-4ef91e9c" class="card">
								<div class="header-card private"></div>
									<div class="content-card">
										<div class="copy-card">
											<h3 class="heading-card">One Fine Stay [In Progress]</h3>
											<p class="desc-card">SE's currently working to build out these stories.</p>
										</div>
										<div class="link-card">
											<a href="/Wow-Demos/One-Fine-Stay" class="cta-text">Explore</a>
										</div>
									</div>
								</div>
								<div id="w-node-aa3733e63977-4ef91e9c" class="card">
									<div class="header-card dog"></div>
									<div class="content-card">
										<div class="copy-card">
											<h3 class="heading-card">Demo 3 [In Progress]</h3>
											<p class="desc-card">SE's currently working to build out these stories.</p>
										</div>
										<div class="link-card">
											<a href="/Wow-Demos/Demo3" class="cta-text">Explore</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

{% endblock %}
