{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Integrations Engineer Guide</h1>
    <br>
    <p>The purpose of this guide is to explain the different pages located in the drop down menu. When in doubt, first check this page.</p>
  </div>
</section>
<section class="section">
    <div class="container">
      <div class="header-centered">
        <br>
        <div style="text-indent: 10px;">
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h3>Overview</h3>
              </figcaption>
          <ul style="text-align: left;">
            <li>
              <span style="font-weight: bold;">Onboarding</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Integrations-Engineering/Onboarding">here</a></li>
                <li>The onboarding plan for newly hired Integrations Engineers</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Processes</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Integrations-Engineering/Processes">here</a></li>
                <li>Contains the processes which the Integration Engineering team follows</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Submit a Request</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Integrations-Engineering/Help">here</a></li>
                <li>Create a ticket to enlist help from the Integration Engineering team to build a custom solution or application. Tickets will be subject to a review process and may be rejected depending on the opportunity size and project timeline. </li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Internal Tools</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Integrations-Engineering/Tools">here</a></li>
                <li>This page is currently a work in progress but will house internal helper tools and descriptions</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Training Material</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Integrations-Engineering/Train">here</a></li>
                <li>This page is currently a work in progress but will contain links to useful tutorials as well as training materials</li>
              </ul>
            </li>
          </ul>
          </figure>
          </div>
      </div>
    </div>
</section>

{% endblock %}
