{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container ">
    <h1>Internal Tools</h1>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div class="header-centered">
      <br>
      <div >
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Checklists</h3>
            </figcaption>
            <ul>
              <li> AppConnect Dialer Config & Test Checklist - Duplicate this <a href ="https://docs.google.com/spreadsheets/d/1EI3R2A_TmA6tnQ6ZEb0FUQ5ZxGjxngDg_4o0fRU25hQ/edit#gid=0" target="_blank">template</a></li>
            </ul>
        </figure>
        </div>
  </div>
</section>
{% endblock %}
