{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Sales Engineer Guide</h1>
    <br>
      <h4>Overview</h4>
      <br>
      <p>In here, you will find an <a href="#onboarding">onboarding plan</a> as well as processes for <a href="#disco">Discovery
        and Scoping</a>, <a href="#rules">Rules of Engagement</a>, <a href="#trial">Trials and POC's</a>, <a href="#sales">Sales</a>, <a href="#rfp">RFP</a>, and <a href="#infosec">Infosec Response</a> that the Sales Engineering team follow.</p>
      <br>
  </div>
</section>
<section class="section">
  <div class="container">
    <div id="onboarding" class="header-centered">
      <br>
      <h2>Onboarding</h2>
      <br>
      <p>Please get started with the different categories simultaneously--but follow the order of
        tasks within a given category. Every week will culminate with an End of Week challenge.</p>
        <div style="text-indent: 10px;">
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h3>Week 1</h3>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> Company and Industry </span>
                  <ul>
                    <li>Read: Talkdesk Vision - <a href="https://docs.google.com/presentation/d/1_VU5ehmEL6gBy8fh-gScyZwrwu-hwGMpGVn0uJcWmvc/edit?usp=sharing">Link</a></li>
                    <li>Read: Competitive Overview - <a href="https://docs.google.com/presentation/d/1lnE6C9Q1O-4BrsrnR9y9jTJIBp1HtTEokAs7VRKZOhU/edit?usp=sharing">Link</a></li>
                    <li>Watch: Customer Video SICOM - <a href="https://www.talkdesk.com/resources/videos/sicom/">Link</a></li>
                    <li>Watch: Customer Video Avetta - <a href="https://www.talkdesk.com/resources/videos/avetta/">Link</a></li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Systems and Tools</span>
                  <ul>
                    <li>Task: Confirm access to Benefits, TripEasy, Expensify <br>
                      (Access is granted by manager via a BambooHR task)</li>
                    <li>Task: Ensure access to Google Drive, Google Calendar, Zoom, and Gmail</li>
                    <li>Task: Join Slack Channels: #presales-engineering, #techquestions, #salesteam</li>
                    <li>Task: Confirm access to Talkdesk instance: Talkforce</li>
                    <li>Task: Confirm access to 2 Salesforce instances: Talkdesk internal and Talkforce</li>
                    <li>Task: Generate your email signature - <a href ="https://talkdesk.atlassian.net/wiki/spaces/IT/pages/830835155/Signature+Generator">Link</a></li>
                    <li>Read: Scheduling meetings with Zoom- <a href ="https://talkdesk.atlassian.net/wiki/spaces/IT/pages/490308656/Scheduling+a+Meeting">Link</a></li>
                    <li>Task: Confirm your SE buddy (Scott Trichon)</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Product Skills</span>
                  <ul>
                    <li>Watch: Demo - <a href="https://app.gong.io/welcome/login?targeturl=/call?id%3D3058801037058259922">Link</a></li>
                    <li>Read: Pricing tiers - <a href="https://www.talkdesk.com/pricing/">Link</a></li>
                    <li>Read: System and Network Requirements - <a href="https://support.talkdesk.com/hc/en-us/articles/204370859-Setting-up-System-Requirements-and-Network-Settings">Link</a></li>
                    <li>Task: Create Your Demo Account within Talkdesk (yourname.mytalkdesk.com)</li>
                    <li>Task: Create Your Salesforce Developer Account - <a href ="https://developer.salesforce.com/">Link</a></li>
                    <li>Task: Connect Salesforce and Talkdesk together - <a href="https://support.talkdesk.com/hc/en-us/articles/214557866-Installing-Talkdesk-for-Salesforce-">Link</a></li>
                    <li>Watch: Recommended Academy Content - <a href="https://academy.talkdesk.com/series/recommended-for-you">Link</a></li>
                    <li>Task: Complete Agent Certification - <a href="https://academy.talkdesk.com/agent-certification-quiz">Link</a></li>
                  </ul>
                </li>
                <li>
                  <span class="highlight-green" style="font-weight: bold;">End of Week 1 Challenge</span>
                  <ul>
                    <li>Set up a call center integrated with Salesforce - <a href="https://docs.google.com/document/d/1onJuhQ3pYD9dT_ircY_53Mq9Nyivpi4QR0qv7dp1vBs/edit">Link</a></li>
                  </ul>
                </li>
              </ul>
          </figure>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h3>Week 2</h3>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> Company and Industry </span>
                  <ul>
                    <li>Read: Latest Talkdesk Blog - <a href="https://www.talkdesk.com/blog/">Link</a></li>
                    <li>Task: Meet a Support team member</li>
                    <li>Task: Shadow Professional Services on an implementation call</li>
                    <li>Task: Meet with AE to help put together a Sales Qualification Document</li>
                    <li>Task: Work with your manager to schedule time with Demo Council in week 3</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Systems and Tools</span>
                  <ul>
                    <li>Task: review a Sales Qualification Document <a href="https://docs.google.com/document/d/1RGBoFsvudAlpk3zl0kGTOcADXSU4kfdpbO8GyyicyXI/edit?usp=sharing">Example</a></li>
                    <li>Task: In Salesforce, review Opportunities pipeline</li>
                    <li>Watch: Demo repository videos</li>
                    <li>Task: Salesforce activity tracking</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Product Skills</span>
                  <ul>
                    <li>Read: See sample script for HealthConnect demo sample script - <a href="https://docs.google.com/document/d/1KcIXd8OMzmSkwUbGrsQwhAtvpjZkQX3eqUkSpXMPn2c/edit?usp=sharing">Link</a></li>
                    <li>Task: AutoReach power-dial experience on TalkForce</li>
                    <li>Task: Get Studio enabled on your demo instance (ask Studio Team), and <a href="https://docs.google.com/presentation/d/1AeGHZOo9dofE1b6AvOqTCnMQs3rzK6BCrrhqYhUepK8/edit">build these flows</a></li>
                    <li>Watch: Zendesk integration webinar - <a href="https://www.talkdesk.com/resources/webinars/talkdesk-integration-with-zendesk/thank-you/">Link</a></li>
                    <li>Read: Talkdesk Contact Sync - <a href="https://support.talkdesk.com/hc/en-us/articles/115000294003-Contact-Sync-FAQ">Link</a></li>
                    <li>Read: Salesforce integration FAQ - <a href="https://support.talkdesk.com/hc/en-us/articles/210281453-Talkdesk-for-Salesforce-FAQ-New-Customers">Link</a></li>
                    <li>Task: Complete Admin Certification - <a href="https://academy.talkdesk.com/series/admins-certification/admin-certification-quiz">Link</a></li>
                    <li>Task: Help answer 2-3 questions on the Slack Channel #demo-engineering</li>
                  </ul>
                </li>
                <li>
                  <span class="highlight-green" style="font-weight: bold;">End of Week 2 Challenge</span>
                  <ul>
                    <li>Prep for L1 demo  - <a href="https://docs.google.com/document/d/12TLJzqxurI_O42HzxRGTqkD4NlkNLUCiHUWT5sYRfU0/edit#">Link</a></li>
                    <li>Task: Get to know customer-facing teams better - <a href="https://docs.google.com/document/d/1qRsdytVIAggRtvxEj2nPGvcfnZeX2X4hiC8UAGOBVjo/edit">Link</a></li>
                  </ul>
                </li>
              </ul>
          </figure>
        </div>
    </div>
  </div>
</section>
<section class="section bg-grey ">
  <div class="container">
    <div id="disco" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Discovery and Scoping Template + Questions</h3>
            <br>
            <h4 style="font-weight: normal;">Create a Google Doc to record the following from the customer:</h4>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;">General</span>
              <ul>
                <li>Company Name</li>
                <li>Salesforce Opportunity Link</li>
                <li>Company Description</li>
                <li>Call-Center/Data-Center Site Locations and Sizes</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Current System, Sites, Agents and Workflows</span>
              <ul>
                <li>Provide detailed use cases for inbound and outbound customer journey</li>
                <li> Include any required intelligent routing and <br>backend system data dips and timeline</li>
                <li>When do they need to be Live?</li>
                <li>List out their current pain points?</li>
                <li>What doesn't work for them and what can fix it? </li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Voice</span>
              <ul>
                <li>Does customer have a current call flow diagram or document (or other detailed channel flow) they can share?</li>
                <li>What system are you currently using and explain the full flow of how a caller gets to an agent?</li>
                <li>What is the monthly inbound call volume?</li>
                <li>What is the monthly outbound call volume?</li>
                <li>Do you have seasonality or peak times of the year?</li>
                <li>What are your buisiness hours for operations?</li>
                <li>How are outbound calls handled today?</li>
                <li>Are they using  manual ‘click to call’ out of their CRM?</li>
                <li>Is Preview or Predictive required?</li>
                <li>Current list size (number of records) being called?</li>
                <li>Purpose of call list (Notifications, Confirmations - appts, etc.)</li>
                <li>Is there a need for automated messages (agentless)  either voice / phone or SMS?</li>
                <li>Phone number migration/porting?</li>
                <li>Dedicated Lines or Extensions? SIP Devices?</li>
                <li>Type of Headesets</li>
                <li>Do you have routing rules based on values in your integrations? (VIP, Region Specific, Privacy)</li>
                <li>Do you have international needs? What countries?</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Compliance</span>
              <ul>
                <li>Please describe in detail the privacy needs of the solution. Example - Credit Card payments by phone.</li>
                <li>GDPR?</li>
                <li>PCI?</li>
                <li>HIPAA?</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Integrations & Features</span>
              <ul>
                <li>Please provide details on the CRM system and its integration capabilities (REST APIs, Web (SOAP) services, etc.)	</li>
                <li><span style="font-weight: bold;">CRM </span>
                  <ul>
                    <li>Do you currently have contacts in the standard format with email and phone number?</li>
                    <li>Values stored in standard fields or custom fields?</li>
                    <li>Do you often merge/delete contacts in your CRM?</li>
                    <li>Do you work with leads? If yes, what’s your lead conversion process?</li>
                    <li>How do you treat new phone numbers?</li>
                    <li>What Objects are used in the CRM today (leads, contacts, cases, etc)</li>
                  </ul>
                </li>
                <li><span style="font-weight: bold;">QM</span>
                  <ul>
                    <li>What is your primary business need for recording calls? For e.g. Quality control, improve customer service levels and agent performance and productivity?</li>
                    <li>What KPIs are you tracking?</li>
                    <li>What scoring or key word search are you using today?  Please provide samples.</li>
                  </ul>
                </li>
                <li><span style="font-weight: bold;">WFM</span>
                  <ul>
                    <li>Reporting needs: time period, ring groups, incoming calls?How are you scheduling agents today?</li>
                    <li>Are you supporting other channels like chat and email?</li>
                    <li>Are agents multi skilled?</li>
                    <li>Are there any specific features you are looking for?</li>
                  </ul>
                </li>
                <li>Speech Analytics</li>
                <li>Survey </li>
                <li>Performance Reporting</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Reporting</span>
              <ul>
                <li>What KPIs / Metrics are being tracked?</li>
                <li>What reporting metrics are a must-have for your Leads/Supervisors? How are they calculated?</li>
                <li>Reporting on wait time, disposition sets?</li>
                <li>What are the dashboard needs?</li>
                <li>Any custom reporting? If yes, please describe.</li>
                <li>Do you have any existing SLAs? If so, what are SLA’s based on? (Time spent, response time, etc.)</li>
                <li>List any GAPs the solution requires to be successful. Determine if they are critical or ‘nice to have’.</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="rules" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Rules of Engagement</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section bg-grey ">
  <div class="container">
    <div id="trial" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Trials and POC's</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="sales" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Sales Process</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section bg-grey ">
  <div class="container">
    <div id="rfp" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>RFP Response</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="infosec" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Infosec Response Process</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
{% endblock %}
