{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Sales Engineering Onboarding Plan</h1>
    <br>
    <p>Please get started with the different categories simultaneously--but follow the order of
      tasks within a given category. <br> Every week will culminate with an End of Week challenge.</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <div id="onboarding" class="header-centered">
      <br>
        <div style="text-indent: 10px;">
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h3>Week 1</h3>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> Company and Industry </span>
                  <ul>
                    <li>Read: Talkdesk Vision - <a href="https://docs.google.com/presentation/d/1_VU5ehmEL6gBy8fh-gScyZwrwu-hwGMpGVn0uJcWmvc/edit?usp=sharing">Link</a></li>
                    <li>Read: Competitive Overview - <a href="https://docs.google.com/presentation/d/1lnE6C9Q1O-4BrsrnR9y9jTJIBp1HtTEokAs7VRKZOhU/edit?usp=sharing">Link</a></li>
                    <li>Watch: Customer Video SICOM - <a href="https://www.talkdesk.com/resources/videos/sicom/">Link</a></li>
                    <li>Watch: Customer Video Avetta - <a href="https://www.talkdesk.com/resources/videos/avetta/">Link</a></li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Systems and Tools</span>
                  <ul>
                    <li>Task: Confirm access to Benefits, TripEasy, Expensify <br>
                      (Access is granted by manager via a BambooHR task)</li>
                    <li>Task: Ensure access to Google Drive, Google Calendar, Zoom, and Gmail</li>
                    <li>Task: Join Slack Channels: #presales-engineering, #techquestions, #salesteam</li>
                    <li>Task: Confirm access to Talkdesk instance: Talkforce</li>
                    <li>Task: Confirm access to 2 Salesforce instances: Talkdesk internal and Talkforce</li>
                    <li>Task: Generate your email signature - <a href ="https://talkdesk.atlassian.net/wiki/spaces/IT/pages/830835155/Signature+Generator">Link</a></li>
                    <li>Read: Scheduling meetings with Zoom- <a href ="https://talkdesk.atlassian.net/wiki/spaces/IT/pages/490308656/Scheduling+a+Meeting">Link</a></li>
                    <li>Task: Confirm your SE buddy (Scott Trichon)</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Product Skills</span>
                  <ul>
                    <li>Watch: Demo - <a href="https://app.gong.io/welcome/login?targeturl=/call?id%3D3058801037058259922">Link</a></li>
                    <li>Read: Pricing tiers - <a href="https://www.talkdesk.com/pricing/">Link</a></li>
                    <li>Read: System and Network Requirements - <a href="https://support.talkdesk.com/hc/en-us/articles/204370859-Setting-up-System-Requirements-and-Network-Settings">Link</a></li>
                    <li>Task: Create Your Demo Account within Talkdesk (yourname.mytalkdesk.com)</li>
                    <li>Task: Create Your Salesforce Developer Account - <a href ="https://developer.salesforce.com/">Link</a></li>
                    <li>Task: Connect Salesforce and Talkdesk together - <a href="https://support.talkdesk.com/hc/en-us/articles/214557866-Installing-Talkdesk-for-Salesforce-">Link</a></li>
                    <li>Watch: Recommended Academy Content - <a href="https://academy.talkdesk.com/series/recommended-for-you">Link</a></li>
                    <li>Task: Complete Agent Certification - <a href="https://academy.talkdesk.com/agent-certification-quiz">Link</a></li>
                  </ul>
                </li>
                <li>
                  <span class="highlight-green" style="font-weight: bold;">End of Week 1 Challenge</span>
                  <ul>
                    <li>Set up a call center integrated with Salesforce - <a href="https://docs.google.com/document/d/1onJuhQ3pYD9dT_ircY_53Mq9Nyivpi4QR0qv7dp1vBs/edit">Link</a></li>
                  </ul>
                </li>
              </ul>
          </figure>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h3>Week 2</h3>
              </figcaption>
              <ul>
                <li>
                  <span style="font-weight: bold;"> Company and Industry </span>
                  <ul>
                    <li>Read: Latest Talkdesk Blog - <a href="https://www.talkdesk.com/blog/">Link</a></li>
                    <li>Task: Meet a Support team member</li>
                    <li>Task: Shadow Professional Services on an implementation call</li>
                    <li>Task: Meet with AE to help put together a Sales Qualification Document</li>
                    <li>Task: Work with your manager to schedule time with Demo Council in week 3</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Systems and Tools</span>
                  <ul>
                    <li>Task: review a Sales Qualification Document <a href="https://docs.google.com/document/d/1RGBoFsvudAlpk3zl0kGTOcADXSU4kfdpbO8GyyicyXI/edit?usp=sharing">Example</a></li>
                    <li>Task: In Salesforce, review Opportunities pipeline</li>
                    <li>Watch: Demo repository videos</li>
                    <li>Task: Salesforce activity tracking</li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Product Skills</span>
                  <ul>
                    <li>Read: See sample script for HealthConnect demo sample script - <a href="https://docs.google.com/document/d/1KcIXd8OMzmSkwUbGrsQwhAtvpjZkQX3eqUkSpXMPn2c/edit?usp=sharing">Link</a></li>
                    <li>Task: AutoReach power-dial experience on TalkForce</li>
                    <li>Task: Get Studio enabled on your demo instance (ask Studio Team), and <a href="https://docs.google.com/presentation/d/1AeGHZOo9dofE1b6AvOqTCnMQs3rzK6BCrrhqYhUepK8/edit">build these flows</a></li>
                    <li>Watch: Zendesk integration webinar - <a href="https://www.talkdesk.com/resources/webinars/talkdesk-integration-with-zendesk/thank-you/">Link</a></li>
                    <li>Read: Talkdesk Contact Sync - <a href="https://support.talkdesk.com/hc/en-us/articles/115000294003-Contact-Sync-FAQ">Link</a></li>
                    <li>Read: Salesforce integration FAQ - <a href="https://support.talkdesk.com/hc/en-us/articles/210281453-Talkdesk-for-Salesforce-FAQ-New-Customers">Link</a></li>
                    <li>Task: Complete Admin Certification - <a href="https://academy.talkdesk.com/series/admins-certification/admin-certification-quiz">Link</a></li>
                    <li>Task: Help answer 2-3 questions on the Slack Channel #demo-engineering</li>
                  </ul>
                </li>
                <li>
                  <span class="highlight-green" style="font-weight: bold;">End of Week 2 Challenge</span>
                  <ul>
                    <li>Prep for L1 demo  - <a href="https://docs.google.com/document/d/12TLJzqxurI_O42HzxRGTqkD4NlkNLUCiHUWT5sYRfU0/edit#">Link</a></li>
                    <li>Task: Get to know customer-facing teams better - <a href="https://docs.google.com/document/d/1qRsdytVIAggRtvxEj2nPGvcfnZeX2X4hiC8UAGOBVjo/edit">Link</a></li>
                  </ul>
                </li>
              </ul>
          </figure>
        </div>
    </div>
  </div>
</section>
{% endblock %}
