{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Technical FAQ</h1>
  </div>
  <div style="text-indent: 350px;">
  <p>Contents:</p>
    <ul>
      <li><a href="#studio">Studio</a></li>
      <li><a href="#integrations">Integrations</a></li>
      <li><a href="#omni">Omnichannel</a></li>
      <li><a href="#report">Reporting</a></li>
      <li><a href="#callbar">Callbar</a></li>
      <li><a href="#autoreach">AutoReach</a></li>
      <li><a href="#sfdc">Salesforce</a></li>
      <li><a href="#zendesk">Zendesk</a></li>
    </ul>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="studio" class="header-centered">
      <br>
      <h3>Studio</h3>
    </div>

  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="integrations" class="header-centered">
      <br>
      <h3>Integrations</h3>
    </div>

  </div>
</section>
<section class="section ">
    <div class="container">
      <div id="omni" class="header-centered">
        <br>
          <h3>Omnichannel</h3>
      </div>

    </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="report" class="header-centered">
      <br>
      <h3>Reporting</h3>
    </div>

  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="callbar" class="header-centered">
      <br>
      <h3>Callbar</h3>
    </div>

  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="autoreach" class="header-centered">
      <br>
      <h3>AutoReach</h3>
    </div>

  </div>
</section>
<section class="section ">
    <div class="container">
      <div id="sfdc" class="header-centered">
        <br>
          <h3>Salesforce</h3>
      </div>

    </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="zendesk" class="header-centered">
      <br>
      <h3>Zendesk</h3>
    </div>

  </div>
</section>
{% endblock %}
