{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero home-en">
  <div class="container no-padding">
    <div class="w-layout-grid grid-3col">
      <div id="w-node-7fc90ec15004-4ef91e9c" class="hero-content">
        <h1 class="text-white">Sales Engineer
          <br>
          <br/>HomePage</h1>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div class="header-centered">
      <h1>
        <br><span class="highlight-green">Announcements!</span>
      </h1>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
        <ul style="text-align: left;">
          <li>
            <span style="font-weight: bold;">Managers can reach out to Site Moderators to add daily/weekly <br> announcements here</span>
          </li>
        </ul>
        </figure>
        </div>
    </div>
  </div>
</section>
<section class="section">
    <div class="container">
      <div class="header-centered">
        <br>
        <div style="text-indent: 10px;">
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h1>Site Overview</h1>
              </figcaption>
              <br>
          <ul style="text-align: left;">
            <li>
              <span style="font-weight: bold;">Onboarding</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Sales-Engineering/Onboarding">here</a></li>
                <li>The onboarding plan for newly hired Sales Engineers</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Processes</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Sales-Engineering/Processes">here</a></li>
                <li>Contains the processes for:
                  <ul>
                    <li>Requesting Help</li>
                    <li>Discovery & Scoping</li>
                    <li>Rules of Engagement</li>
                    <li>Trials & POC's</li>
                    <li>Sales Process</li>
                    <li>RFP</li>
                    <li>Infosec Response</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Wow Demos</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Wow-Demos">here</a></li>
                <li>Links to Wow Demo environments and preperation material that includes talk tracks and pointers</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Demo Logins and Status</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Sales-Engineering/Demo-Logins">here</a></li>
                <li>Login credentials for demo environments as well as their status</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Technical FAQ</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Sales-Engineering/Technical-FAQ">here</a></li>
                <li>List of technical FAQ and answers</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Useful Links</span>
              <ul>
                <li>Quick Navigate to the page by clicking <a href="/Sales-Engineering/Links">here</a></li>
                <li>Links for useful tools and pages</li>
              </ul>
            </li>
          </ul>
          </figure>
          </div>
      </div>
    </div>
</section>
{% endblock %}
