{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Technical FAQ</h1>
    <div style="text-indent: 10px;">
    <p style="font-weight: bold;">Contents:</p>
      <ul>
        <li><a href="#studio">Studio</a></li>
        <li><a href="#explore">Explore</a></li>
        <li><a href="#integrations">Integrations</a></li>
        <li><a href="#omni">Omnichannel</a></li>
        <li><a href="#callbar">Callbar</a></li>
        <li><a href="#autoreach">AutoReach</a></li>
        <li><a href="#sfdc">Salesforce</a></li>
        <li><a href="#zendesk">Zendesk</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="studio" class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Studio</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Q</span>: Is it possible to create a 're-usable flow' and then call this from a main flow?</p>
            <ul>
              <li>No, but there are plans to reduce complexity of flows.</li>
            </ul>
            <br>
            <p><span style="font-weight: bold;">Q</span>: When I have a callback in studio and the request is successful what is supposed to happen?</p>
          <ul>
            <li>It means you booked a callback. So, you will be contacted as soon as an agent is available. The agent will see it as an inbound call.</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>: Is there a way to Forward to an External number that has an extension using the FTE component?</p>
          <ul>
            <li>Not currently possible</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>: Can we route calls based off a contact’s custom field that lives in TD database?</p>
          <ul>
            <li>No</li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="explore" class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Explore</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Q</span>: Can we push external data from other CRMs into Explore</p>
            <ul>
              <li>No</li>
            </ul>
            <br>
            <p><span style="font-weight: bold;">Q</span>: Since there is already an 'Agent Name" column, what is the 'Handling Agent' column in the Calls Report?</p>
          <ul>
            <li>Agent Name is the name of the agent that handled the call, but in case of transfer, “Handling Agent” will have the name of the first agent to receive the call and the “Agent Name” will have the name of the agent to whom the calls was transferred to.</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>: There are two areas for choosing timezone - under Filters and under Advanced Options. What is the difference?</p>
          <ul>
            <li>Timezone in filters, filters the data timezone and Timezone under Advanced Options on Scheduling modal changes the time the query runs.</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>:  I see choices for 'is not null' and 'is not blank' - what is the difference between the two? </p>
          <ul>
            <li>Null is absence of values (as you said) and blank is no value available. The best example with be with dispositions, if it’s not enabled in the account would return null, if enabled but not filled by the agent it would return blank.</li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="section ">
    <div class="container">
      <div id="integrations" class="header-centered">
        <br>
        <div style="text-indent: 10px;">
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h3>Integrations</h3>
              </figcaption>
                <br>
                <p><span style="font-weight: bold;">Q</span>: What’s the difference between grey and green fields in the automations page?</p>
              <ul>
                <li>Green fields are available, grey fields may or may not be available during event time.</li>
              </ul>
              <br>
              <p><span style="font-weight: bold;">Q</span>: Is Call start time when the agent picks the call? Or when it start ringing? </p>
            <ul>
              <li>It's on assignment started / call leg requested, which is even a bit before the actual ringing starts.</li>
            </ul>
            <br>
            <p><span style="font-weight: bold;">Q</span>: Which types of custom fields are synced from Salesforce to Talkdesk (in the create/edit automation screen)?</p>
            <ul>
              <li>Checkbox</li>
              <li>Date if required</li>
              <li>Date/Time if required</li>
              <li>Number if required</li>
              <li>Phone if required</li>
              <li>Pick list (both required and not required)</li>
              <li>Pick list multi-select if required</li>
              <li>Text if required</li>
              <li>Text Area if required</li>
              <li>URL if required</li>
            </ul>
            <br>
            <p><span style="font-weight: bold;">Q</span>: The client wants to stop receiving all talkdesk activities in their Salesforce instance. Can this be done?</p>
            <ul>
              <li>Yes. If all talkdesk activities are to be deactivated, the client should go to their Salesforce instance → Taldkesk Admin → Settings → Logging → deselect "Log calls in Salesforce"</li>
            </ul>
          </figure>
        </div>
      </div>
    </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="omni" class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Omnichannel</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Q</span>: Is it possible to notify the agent on incoming email right away despite it's in another tab?</p>
            <ul>
              <li>Notifications can be sent if a chat is assigned to an agent and a new reply comes in.</li>
            </ul>
            <br>
            <p><span style="font-weight: bold;">Q</span>: Is there broadcasting available for email?</p>
          <ul>
            <li>No, nothing on the official roadmap</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>: Do all agents have to leverage the same channels and channel count?
            For example, can some agents utilize a 3-channel bundle while other agents utilize an all-channel bundle? </p>
        <ul>
          <li>All omnichannel-licensed agents have to utilize the same bundle. However, each omnichannel-licensed agent can
             have a different combination of the 3 channels in a 3-channel bundle.</li>
        </ul>
        <br>
        <p><span style="font-weight: bold;">Q</span>: Can SMS numbers be ported? </p>
      <ul>
        <li>Omnichannel 2.0 utilizes a new SMS API that enables Twilio numbers to be SMS-enabled. Bring Your Own Carrier
          (BYOC) compatibility is on the roadmap and will be made available later.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: What languages are supported? </p>
      <ul>
        <li>The user interface is available in English only. The content of the customer- or agent-entered content
          in chats / messages can be in any unicode or bidirectional language.  </li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>:  How can we define SLA for each digital channel?</p>
      <ul>
        <li>We can't but we plan to have it for H1 2020. Nevertheless, we can manage customer expectations using the
          Unresponsive Chats – Pending from an Agent feature that allows businesses to send auto-responses to customers
          after X min/hours/days of inactivity from the agent’s end (e.g. “We’ll be with you shortly. Apologies for the
          delay as we have a long queue today. Thanks for your patience!” etc.). This can be again configured for each
          channel asset as each channel have different expectations considering their sync/async nature.</li>
      </ul>
      <p><span style="font-weight: bold;">Q</span>: Besides blacklisted words/cursing, is it possible to block social
        profiles or email spammers?</p>
      <ul>
        <li>It is also possible to block certain IP for the live chat. Go to Assets > Edit Livechat asset >
          Websites tab > Edit website > Widget visibility</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Is agent status common between voice and omnichannel?</p>
      <ul>
        <li>No. There are 2 different status. One in callbar or main and the other on the Omnichannel tab.
          The agent can mix both status (disabled on both, available on both or disabled in one and available
          in the other) however, the queues are separate. However, with this, if an agent logs out of Talkdesk
          without changing the omnichannel status to unavailable, the omnichannel session will still be active
          for 1 day. To avoid this, agents must always change to unavailable before logging out or it is possible
          to ask the partner ops team to change to a shorter session timeout.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Is it possible to accept or reject chats or other interactions by the agent?</p>
      <ul>
        <li>No, to avoid agents to pick only certain chats. The only way is to play with the status to unavailable to stop receiving
          chats. However, interactions can be transferred to other agent.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: What happens if an agent transfers a chat to other agent that has capacity fully occupied?</p>
      <ul>
        <li>The system automatic blocks the busy agent to receive any other chat.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Is it possible to disable customers to see chat history for live chat?</p>
      <ul>
        <li>Yes, it is. Go to Assets > Edit live chat > General > Toggle off the option "Customer chat history".</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Is it possible to disable customers to receive emails transcript of the chat conversation?</p>
      <ul>
        <li>No, the only thing possible is to disable email transcript to agents.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Is Omnichannel solution PCI or HIPPA compliant?</p>
      <ul>
        <li>At the moment, not. We are working on it but these are not easy to get certifications so it will take time and we should not commit with dates.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Does Talkdesk Omnichannel have a ECCN number?</p>
      <ul>
        <li>No. There are some components of the solution developed in India and therefore do not have this classification.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Is it possible to set up WhatsApp campaigns?</p>
      <ul>
        <li>WhatsApp doesn’t encourage the channel to be used to broadcast messages so we wouldn’t recommend doing that. Also WhatsApp
          requires you to use HSMs to send messages to first time customers and they are charged. Massive messages are only possible for
          tier 2 packages, however, for platform mode (tier 1) it is possible to send proactive 1-1 messages through HSMs.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Can we set up different time zones and business hours per team like we do in Talkdesk?</p>
      <ul>
        <li>No, timezone is defined per account with no difference between teams. It must be defined by the Admin through Omnichannel tab>Settings.
          As for Working hours can be settled by the team manager per team.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Can I move my own profile to other team or change my role?</p>
      <ul>
        <li>No, even for admins, it is not possible to make this kind of changes to own profile.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: Does Omnichannel support resellers?</p>
      <ul>
        <li>Yes, resellers are supported, however, due to technical limitations, resellers' customers can only access
          to omnichannel properly through the <account_name>.mytalkdesk.com url, not from the reseller's URL.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: How the web chat script will impact customer's website speed?</p>
      <ul>
        <li>It takes around ~450KB to get the live chat widget loaded onto the associated web page.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: What is the SMTP policy for email assets information?</p>
      <ul>
        <li>The SMTP data being captured as part of email channel configuration will be saved in database in plain text.
           Only DBA / Support team, who has access to database can view the data.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: How does the Salesforce integration work?</p>
      <ul>
        <li>Salesforce integration is available for Talkdesk omnichannel as part of tier 2 capabilities. This a PS enabled feature and
          belongs in the package 1 with a price of $500 per month per account and a limit of 150 flows per minute. PS custom work
          will add on this price. <br>Omnichannel with Salesforce integration enables customers to receive events from Salesforce
          and execute actions such as SMS, Outbound Voice, and Flows or insert objects back into Salesforce. For example, when a
          customer raise a support ticket via SMS, the inputs are captured within Salesforce as Case.</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: What Salesforce events can trigger Omnichannel?</p>
      <ul>
        <li>Account - Created and Updated</li>
        <li>Case - Created and Updated</li>
        <li>Lead - Created and Updated</li>
        <li>Opportunity - Created and Updated</li>
        <li>Task - Created</li>
      </ul>
      <br>
      <p><span style="font-weight: bold;">Q</span>: What can Omnichannel do in Salesforce? </p>
      <ul>
        <li>Insert a case/lead/opportunity/account</li>
        <li>Update a case/lead/opportunity/accoun</li>
      </ul>
      <br>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="callbar" class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Callbar</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Q</span>: Can we control the order that Context variables show up on the callbar?</p>
            <ul>
              <li>No, they are automatically ordered alphabetically</li>
            </ul>
            <br>
            <p><span style="font-weight: bold;">Q</span>: If agent A calls agent B, can agent B transfer that call? Is there any limitation for transfering internal calls?</p>
          <ul>
            <li>No transfer possible, agent-to-agent is non acd and non conference</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>: Is there any way to remove the 'dismiss' button in Callbar to force agents to select/log a disposition?</p>
          <ul>
            <li>Yes, its a feature flag to remove dismiss button</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>:Is there a way to make a "clickable" link in Callbar?</p>
          <ul>
            <li>Yes, it can done with a put request to Studio from Postman</li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="autoreach" class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>AutoReach</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Q</span>: Can AutoReach Lists be created on custom objects in Salesforce?</p>
            <ul>
              <li>Yes, From the AutoReach application main page select ‘Account Settings’</li>
              <li>Select the text box next to ‘Salesforce Objects’</li>
              <li>Start typing the name of the Salesforce Object you wish to perform calls against.</li>
              <li>Select Enter on the object you wish to add</li>
              <li>Press ‘Save’</li>
              <li>Once added, ListViews associated to that object will be available in the ‘Add a new list'</li>
            </ul>
            <br>
            <p><span style="font-weight: bold;">Q</span>: Can AutoReach update Talkdesk Activities records in Salesforce to indicate which calls wereused with AutoReach?</p>
          <ul>
            <li>Yes, first ensure that there is a AutoReach Field on the Talkdesk Activities object and that the field is validated in the Account Settings of AutoReach.</li>
            <li>From the AutoReach main page select ‘Account Setting’</li>
            <li>Check ‘Daily Automatic Sync to Salesforce’ checkbox</li>
            <li>Press ‘Save’</li>
            <li>This will go back through all AutoReach calls and check the Autoreach field on the Talkdesk Activity records that were made through Autoreach when the first Rep logins for the day.</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>: Can I view the Do Not Call List in Salesforce?</p>
          <ul>
            <li>Yes, If Do Not Call is enabled in AutoReach, you need to create a Report or ListView in Salesforce to view.</li>
            <li>With permission in Salesforce to create reports, create a new report for Contacts or Leads.</li>
            <li>Filter by the ‘Do Not Call’ field</li>
            <li>Note: If wanting to remove a Contact or Lead from the Do Not Call List, select the Contact or Lead and uncheck the ‘Do Not Call’ checkbox.</li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="sfdc" class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Salesforce</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Q</span>: Why is my contact now showing in Callbar?</p>
            <ul>
              <li>Check to make sure you don't have duplicate contacts</li>
            </ul>
            <br>
            <p><span style="font-weight: bold;">Q</span>:Can we use the same SMS numbers in Salesforce Smart SMS and Omni?</p>
          <ul>
            <li>No</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>: Do we have a way of tying ONE contact to MULTIPLE accounts in SFDC in Talkforce?</p>
          <ul>
            <li>Yes, it is possible to show related lists in the Contact page</li>
          </ul>
          <br>
          <p><span style="font-weight: bold;">Q</span>: It is possible to run two Telephony systems on the same SFDC instance? </p>
          <ul>
            <li>Yes, it is possible. Only note is a user in Salesforce can only have one call center setting applied to their profile.</li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="zendesk" class="header-centered">
      <br>
      <div style="text-indent: 10px;">
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h3>Zendesk</h3>
            </figcaption>
              <br>
              <p><span style="font-weight: bold;">Q</span>: Can Zendesk automation be used to set values dynamically to Zendesk drop down fields?</p>
            <ul>
              <li>Yes</li>
            </ul>
            <br>
            <p><span style="font-weight: bold;">Q</span>:Why are certain calls automatically assigned to the administrator of the account?</p>
          <ul>
            <li>As a rule of thumb, when Talkdesk can't find a corresponding agent, the system will assign the ticket to the administrator of the account.</li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
</section>
{% endblock %}
