{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>Sales Engineer Processes</h1>
    <div style="text-indent: 10px;">
      <p style="font-weight: bold;">Contents:</p>
        <ul>
          <li><a href="#help">Requesting Help</a></li>
          <li><a href="#disco">Discovery & Scoping</a></li>
          <li><a href="#rules">Rules of Engagement</a></li>
          <li><a href="#trial">Trials & POC's</a></li>
          <li><a href="#sales">Sales Process</a></li>
          <li><a href="#rfp">RFP</a></li>
          <li><a href="#infosec">Infosec Response</a></li>
        </ul>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <div id="help" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Requesting Help</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;">Small Projects</span>
              <ul>
                <li>Technical Questions</li>
                <li>Complex Studio Flows</li>
                <li>Enlist the help of a Demo Engineer <a href ="">here (in progress)</a></li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Large Projects</span>
              <ul>
                <li>Custom Applications</li>
                <li>Middleware</li>
                <li>Enlist the help of an Integrations Engineer <a href ="/Integrations-Engineering/Help">here</a></li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="disco" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Discovery and Scoping Template + Questions</h3>
            <br>
            <h4 style="font-weight: normal;">Create a Google Doc to record the following from the customer:</h4>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;">General</span>
              <ul>
                <li>Company Name</li>
                <li>Salesforce Opportunity Link</li>
                <li>Company Description</li>
                <li>Call-Center/Data-Center Site Locations and Sizes</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Current System, Sites, Agents and Workflows</span>
              <ul>
                <li>Provide detailed use cases for inbound and outbound customer journey</li>
                <li> Include any required intelligent routing and <br>backend system data dips and timeline</li>
                <li>When do they need to be Live?</li>
                <li>List out their current pain points?</li>
                <li>What doesn't work for them and what can fix it? </li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Voice</span>
              <ul>
                <li>Does customer have a current call flow diagram or document (or other detailed channel flow) they can share?</li>
                <li>What system are you currently using and explain the full flow of how a caller gets to an agent?</li>
                <li>What is the monthly inbound call volume?</li>
                <li>What is the monthly outbound call volume?</li>
                <li>Do you have seasonality or peak times of the year?</li>
                <li>What are your buisiness hours for operations?</li>
                <li>How are outbound calls handled today?</li>
                <li>Are they using  manual ‘click to call’ out of their CRM?</li>
                <li>Is Preview or Predictive required?</li>
                <li>Current list size (number of records) being called?</li>
                <li>Purpose of call list (Notifications, Confirmations - appts, etc.)</li>
                <li>Is there a need for automated messages (agentless)  either voice / phone or SMS?</li>
                <li>Phone number migration/porting?</li>
                <li>Dedicated Lines or Extensions? SIP Devices?</li>
                <li>Type of Headesets</li>
                <li>Do you have routing rules based on values in your integrations? (VIP, Region Specific, Privacy)</li>
                <li>Do you have international needs? What countries?</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Compliance</span>
              <ul>
                <li>Please describe in detail the privacy needs of the solution. Example - Credit Card payments by phone.</li>
                <li>GDPR?</li>
                <li>PCI?</li>
                <li>HIPAA?</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Integrations & Features</span>
              <ul>
                <li>Please provide details on the CRM system and its integration capabilities (REST APIs, Web (SOAP) services, etc.)	</li>
                <li><span style="font-weight: bold;">CRM </span>
                  <ul>
                    <li>Do you currently have contacts in the standard format with email and phone number?</li>
                    <li>Values stored in standard fields or custom fields?</li>
                    <li>Do you often merge/delete contacts in your CRM?</li>
                    <li>Do you work with leads? If yes, what’s your lead conversion process?</li>
                    <li>How do you treat new phone numbers?</li>
                    <li>What Objects are used in the CRM today (leads, contacts, cases, etc)</li>
                  </ul>
                </li>
                <li><span style="font-weight: bold;">QM</span>
                  <ul>
                    <li>What is your primary business need for recording calls? For e.g. Quality control, improve customer service levels and agent performance and productivity?</li>
                    <li>What KPIs are you tracking?</li>
                    <li>What scoring or key word search are you using today?  Please provide samples.</li>
                  </ul>
                </li>
                <li><span style="font-weight: bold;">WFM</span>
                  <ul>
                    <li>Reporting needs: time period, ring groups, incoming calls?How are you scheduling agents today?</li>
                    <li>Are you supporting other channels like chat and email?</li>
                    <li>Are agents multi skilled?</li>
                    <li>Are there any specific features you are looking for?</li>
                  </ul>
                </li>
                <li>Speech Analytics</li>
                <li>Survey </li>
                <li>Performance Reporting</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">Reporting</span>
              <ul>
                <li>What KPIs / Metrics are being tracked?</li>
                <li>What reporting metrics are a must-have for your Leads/Supervisors? How are they calculated?</li>
                <li>Reporting on wait time, disposition sets?</li>
                <li>What are the dashboard needs?</li>
                <li>Any custom reporting? If yes, please describe.</li>
                <li>Do you have any existing SLAs? If so, what are SLA’s based on? (Time spent, response time, etc.)</li>
                <li>List any GAPs the solution requires to be successful. Determine if they are critical or ‘nice to have’.</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div id="rules" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Rules of Engagement</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="trial" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Trials and POC's</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div id="sales" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Sales Process</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container">
    <div id="rfp" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>RFP Response</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div id="infosec" class="header-centered">
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h3>Infosec Response Process</h3>
          </figcaption>
          <ul>
            <li>
              <span style="font-weight: bold;"> a </span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">b</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold;">c</span>
              <ul>
                <li>i</li>
              </ul>
            </li>
          </ul>
      </figure>
    </div>
  </div>
</section>
{% endblock %}
