{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>WOW Demos</h1>
    <br>
    <p style ="text-align:center;">Talkdesk 'Wow Demos' encompass common pain points and workflows <br>
      that customers face while following powerful user stories.</p>
    <br>
  </div>
</section>
<section id="convoy" class="section ">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>Convoy - <a href="/Wow-Demos/Convoy">Demo Page</a></h2>
      <br>
        <ul style ="text-align:left;">
          <li>
            Get info from SE Team
          </li>
        </ul>
    </div>
  </div>
</section>
<section id="onefinestay" class="section bg-grey">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>One Fine Stay - <a href="/Wow-Demos/One-Fine-Stay">Demo Page</a></h2>
      <br>
        <ul style ="text-align:left;">
          <li>Get info from SE Team</li>
        </ul>
    </div>
  </div>
</section>
<section id="better" class="section ">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>Better Morgage- <a href="/Wow-Demos/Better-Mortgage">Demo Page</a></h2>
      <br>
        <ul>
          <li>
            In Progress..
          </li>
        </ul>
    </div>
  </div>
</section>
<section id="employbridge" class="section bg-grey">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>EmployBridge - <a href="#">Demo Page [in progress]</a></h2>
      <br>
        <ul>
          <li>
            In Progress..
          </li>

        </ul>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <br>
    <div id="tdcu" class="header-centered">
      <br>
      <h2>Talkdesk Credit Union - <a href="/Wow-Demos/Talkdesk-Credit-Union">Demo Page</a></h2>
      <br>
        <ul>
          <li>
            In Progress..
          </li>
        </ul>
    </div>
  </div>
</section>
<section id="mongoDB" class="section bg-grey">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>MongoDB - <a href="#">Demo Page [in progress]</a></h2>
      <br>
        <ul>
          <li>
            In Progress..
          </li>

        </ul>
    </div>
  </div>
</section>
{% endblock %}
