{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>WOW Demos</h1>
    <br>
    <p>Talkdesk 'Wow Demos' encompass common pain points and workflows that customers face
      while following powerful user stories.</p>
    <br>
  </div>
</section>
<section class="section ">
  <div class="container">
    <br>
    <div id="overview" class="header-centered">
      <br>
      <h3>Overview</h3>
      <br>
        <ul>
          <li>
            The <span class="highlight-green">Convoy Demo</span> lives in Talkforce and showcases the power of Talkdesk Omnichannel.
            Sign into Talkforce and set yourself available as an agent in the convoy chat team
            while also navigating to the convoy page in the drop-down menu above. Sending messages
            in the chat widget at the bottom right of the page will spawn a message in the Omnichannel
            queue where you can grab the conversation and perform a live interaction.
          </li>
          <br>
          <li>
            The <span class="highlight-green">One Fine Stay Demo</span> has
          </li>
          <br>
          <li>
            The <span class="highlight-green">Better Mortage Demo</span> has yet to be created but this portion here will
            describe the stuff here
          </li>
        </ul>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container ">
    <br>
    <div class="header-centered">
      <br>
      <h3>Talk Tracks and Links</h3>
      <div style="text-indent: 10px;">
        <figure id="convoy" align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>Convoy - <a href="/Wow-Demos/Convoy">site</a></h4>
            </figcaption>
            <ul>
              <li>Insert SE-drafted talk track here </li>
            </ul>
        </figure>
        <figure id="demo2" align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>One Fine Stay - <a href="/Wow-Demos/One-Fine-Stay">site</a></h4>
            </figcaption>
            <ul>
              <li>Insert SE-drafted talk track here</li>
            </ul>
        </figure>
        <figure id="demo3" align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>Better Mortgage - <a href="/Wow-Demos/Demo3">site</a></h4>
            </figcaption>
            <ul>
              <li>Insert SE-drafted talk track here</li>
            </ul>
        </figure>
        <figure id="demo3" align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>EmployBridge - <a href="/Wow-Demos/Demo3">site</a></h4>
            </figcaption>
            <ul>
              <li>Insert SE-drafted talk track here </li>
            </ul>
        </figure>
        <figure id="demo3" align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>Talkdesk Credit Union - <a href="/Wow-Demos/Demo3">site</a></h4>
            </figcaption>
            <ul>
              <li>Insert SE-drafted talk track here</li>
            </ul>
        </figure>
        <figure id="demo3" align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>John Paul - <a href="/Wow-Demos/Demo3">site</a></h4>
            </figcaption>
            <ul>
              <li>Insert SE-drafted talk track here</li>
            </ul>
        </figure>
      </div>
    </div>
  </div>
</section>
{% endblock %}
