{% extends "layout.html" %}

{% block sections %}
<section class="section section-hero bg-grey">
  <div class="container no-padding">
    <h1>WOW Demos</h1>
    <br>
    <p style ="text-align:center;">Talkdesk 'Wow Demos' encompass common pain points and workflows <br>
      that customers face while following powerful user stories.</p>
    <br>
  </div>
</section>
<section id="convoy" class="section ">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>Convoy - <a href="/Wow-Demos/Convoy">Demo Page</a></h2>
      <br>
        <ul style ="text-align:left;">
          <li>
            Prep info currently in progress with the SE team.
          </li>
        </ul>
    </div>
  </div>
</section>
<section id="onefinestay" class="section bg-grey">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>One Fine Stay - <a href="https://clientservices-onefinestay.herokuapp.com/">Demo Page</a></h2>
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h4>Company Description</h4>
          </figcaption>
        <ul style ="text-align:left;">
          <li>One Fine Stay provides a personal service to discerning owners of beautiful homes,
            by enabling them to lease their home to guests while the home is unoccupied.</li>
        </ul>
        </figure>
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>Why we are Showcasing</h4>
            </figcaption>
          <ul style ="text-align:left;">
            <li>One Fine Stay takes a large number of inbound calls from prospective and current
              renters and is a prime example of how technologies such as Speech Recognition and Agent
              Assist can increase the effectiveness of contact center agents while reducing training costs
              at the same time.</li>
          </ul>
          </figure>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h4>Demo Story</h4>
              </figcaption>
            <ul style ="text-align:left;">
              <li>Eunice is a frequent and happy One Fine Stay renter.  She’s looking to travel to Cork,
                Ireland for a weekend and wants to find a property to rent.  She prefers to speak to an agent
                when booking properties because she likes that they have information not always on the website. </li>
            </ul>
            </figure>
            <br>
            <br>
            <h2>- User Stories -</h2>
            <figure align="left">
              <br>
                <figcaption style="font-weight: bold;">
                  <h4>Repeat High Value Customer</h4>
                </figcaption>
              <ul style ="text-align:left;">
                <li>Eunice dials inbound, she is recognized as a premium repeat customer and assigned agent</li>
                <li>Eunice uses the voice ivr to look at “new booking” for routing and context </li>
                <li>Voice transcription for where for context</li>
                <li>Route to assigned agent (email from sfdc field) w/ high priority and waterfall to ring group</li>
              </ul>
              </figure>
              <figure align="left">
                <br>
                  <figcaption style="font-weight: bold;">
                    <h4>Booking Advisor</h4>
                  </figcaption>
                <ul style ="text-align:left;">
                  <li>See context prior to call acceptance</li>
                  <li>Hyperlinks to onefinestay’s booking site</li>
                  <li>Customer is looking for property in Cork, Ireland</li>
                  <li>Agent assist (AA) list picker for Cork, Ireland</li>
                  <li>AA pulls up schedule for booking</li>
                  <li>AA for knowledge base on how it works getting access. etc</li>
                  <li>CSAT survey sent when call finishes</li>
                </ul>
                </figure>
                <figure align="left">
                  <br>
                    <figcaption style="font-weight: bold;">
                      <h4> Booking Manager</h4>
                    </figcaption>
                  <ul style ="text-align:left;">
                    <li>Slack/Email Notifications when upsell made/escalation/low CSAT, and Queue Size alerts </li>
                    <li>Explore / Live </li>
                  </ul>
                  </figure>
    </div>
  </div>
</section>
<section id="better" class="section ">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>Better Morgage- <a href="/Wow-Demos/Better-Mortgage">Demo Page</a></h2>
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h4>Company Description</h4>
          </figcaption>
        <ul style ="text-align:left;">
          <li>Better Mortgage re-engineers the homeownership process from the ground up by technology to make it faster
            and more efficient, and humans to help make it friendly and enjoyable.</li>
        </ul>
        </figure>
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>Why we are Showcasing</h4>
            </figcaption>
          <ul style ="text-align:left;">
            <li>Better Mortgage has a large volume of inbound calls related to customers interested in mortgages or refinancing.
              They have a need for increased security and privacy due to the sensitive customer information they regularly handle.
              They also handle a large volume of omnichannel interactions, both email and chat.</li>
          </ul>
          </figure>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h4>Demo Story</h4>
              </figcaption>
            <ul style ="text-align:left;">
              <li>Tom is a current Better Mortgage customer who is interested in finding out his current mortgage balance.
                He calls into the Better Mortgage IVR to use their self service capabilities to find out his balance. </li>
                <li>Joe is a prospective homeowner looking for a mortgage to purchase a home.  He calls Better Mortgage
                  at 10:00 PM looking for information regarding a mortgage.  He is directed to the chat window on the Better
                  Mortgage website and he starts a conversation.  When the interaction dictates, the interaction is escalated
                  to a phone call to allow for the mortgage application process to complete.</li>
            </ul>
            </figure>
            <br>
            <br>
            <h2>- User Stories -</h2>
            <figure align="left">
              <br>
                <figcaption style="font-weight: bold;">
                  <h4>Current Mortgage Customer (DE)</h4>
                </figcaption>
              <ul style ="text-align:left;">
                <li>Inbound call to mortgage support</li>
                <li>Voice biometric authentication (voice it? observe?)?</li>
                <li>Insert Authentication PIN through keypad as failover</li>
                <li>Prompt with mortgage or home equity loan if multiple found (opportunity record)</li>
                <li>Use voice to ask for reason like balance due, next payment date</li>
                <li>Read out info and then ask make payment or talk to agent</li>
                <li>Route to assigned agent for specific mortgage</li>
                <li>Fallback based on attribute based routing if assigned agent is unavailable w/ priority</li>
              </ul>
              </figure>
              <figure align="left">
                <br>
                  <figcaption style="font-weight: bold;">
                    <h4>New Mortgage Customer</h4>
                  </figcaption>
                <ul style ="text-align:left;">
                  <li>After hours route to loan agent on mobile</li>
                  <li>In queue sales message, with opt in text (hornblower) (DE)</li>
                  <li>Continue interaction through omnichannel</li>
                  <li>Escalate to voice through click to call</li>
                </ul>
                </figure>
                <figure align="left">
                  <br>
                    <figcaption style="font-weight: bold;">
                      <h4> Mortgage Agent</h4>
                    </figcaption>
                  <ul style ="text-align:left;">
                    <li>Receive call with appropriate context </li>
                    <li>PCI Pal? (SE)</li>
                    <li>Agent Assist (AA) Knowledge Base Escrow/ Real estate taxes (DE)</li>
                    <li>AA Picker Mortgage product upsells or 10, 20, 30 year mortgage (DE)</li>
                    <li>AA External Site interest rate/ payment calc (DE)</li>
                    <li>CSAT survey (SE)</li>
                  </ul>
                  </figure>
    </div>
  </div>
</section>
<section id="employbridge" class="section bg-grey">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>EmployBridge - <a href="/Wow-Demos/EmployBridge">Demo Page</a></h2>
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h4>Company Description</h4>
          </figcaption>
        <ul style ="text-align:left;">
          <li>EmployBridge is the largest industrial staffing company in the U.S. and the backbone behind the nation’s
            leading workforce experts: ResourceMFG, ProLogistix, Select, ProDrivers, RemX, Remedy and Westaff. Their
            foundation is built upon their unmatched industry expertise and specialized staffing delivery model,
            which provides their customers with temporary associates in manufacturing, logistics, warehousing,
            contact centers and more.</li>
        </ul>
        </figure>
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>Why we are Showcasing</h4>
            </figcaption>
          <ul style ="text-align:left;">
            <li> Employbridge was the first implementation of our outbound agentless dialer as well
              as the first implementation of Agent Assist.</li>
          </ul>
          </figure>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h4>Demo Story</h4>
              </figcaption>
            <ul style ="text-align:left;">
              <li>Janine receives a call from Employbridge asking if she is available to fill a position.
                Later that day, she receives a call from an Employbridge representative asking if she is
                interested in a specific job.  She is, and  she is scheduled for an interview at her local EB location.</li>
                <li>Janine receives a text message indicating there is a job opening for the particular type of job
                  she is suited for.  She responds to the message and is engaged by an EB agent, via text, to schedule
                  an interview at her local location.</li>
            </ul>
            </figure>
            <br>
            <br>
            <h2>- User Stories -</h2>
            <figure align="left">
              <br>
                <figcaption style="font-weight: bold;">
                  <h4>Outbound Sales Agent (Dynamics) (DE)</h4>
                </figcaption>
              <ul style ="text-align:left;">
                <li>Agentless dialer dials list of potential candidates, based on responses will change the list they are on in Dynamics, SMS component?</li>
                  <li>Rep begins his day of dials, admin has ability to choose between progressive and predictive dialing </li>
                  <li>As rep go through, can apply numbers to Do Not Call list, dispositions (task created based off of “call later”), etc.</li>
                  <li>Campaign management?</li>
                  <li>Screen pop to ProcedureFlow?</li>
                  <li>Rep has the ability to VM drop</li>
                  <li>CSAT surveys/mood of caller</li>
              </ul>
              </figure>
              <figure align="left">
                <br>
                  <figcaption style="font-weight: bold;">
                    <h4>Omnichannel (DE)</h4>
                  </figcaption>
                <ul style ="text-align:left;">
                  <li>Chatbot flow initiated by a customer on the website, chatbot hands off to an agent and transitions to a phone call (“Looking for a job or a candidate?”)</li>
                    <li>Outbound SMS (“you flagged a particular job, that is now available”)</li>
                    <li>Broadcast SMS (100 people, “you responded last week, still interested?”)</li>
                </ul>
                </figure>
                <figure align="left">
                  <br>
                    <figcaption style="font-weight: bold;">
                      <h4> Supervisor/Manager (SE)</h4>
                    </figcaption>
                  <ul style ="text-align:left;">
                    <li>Live dashboard: outbound calls, live agents, monitoring calls, slack coaching</li>
                      <li>Sales focused Explore dashboard: talk time, O/B calls, connect rate by time of day and day of week, leaderboard metrics</li>
                  </ul>
                  </figure>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container">
    <br>
    <div id="tdcu" class="header-centered">
      <br>
      <h2>Talkdesk Credit Union - <a href="/Wow-Demos/Talkdesk-Credit-Union">Demo Page</a></h2>
      <br>
        <ul>
          <li>
              Prep info currently in progress with the SE team.
          </li>
        </ul>
    </div>
  </div>
</section>
<section id="mongoDB" class="section bg-grey">
  <div class="container">
    <br>
    <div  class="header-centered">
      <br>
      <h2>MongoDB - <a href="/https://clientservices-mongodb.herokuapp.com/">Demo Page</a></h2>
      <br>
      <figure align="left">
        <br>
          <figcaption style="font-weight: bold;">
            <h4>Company Description</h4>
          </figcaption>
        <ul style ="text-align:left;">
          <li>MongoDB is an open source database management system (DBMS) that uses a document-oriented database model
            which supports various forms of data. Instead of using tables and rows as in relational databases,
            the MongoDB architecture is made up of collections and documents.</li>
        </ul>
        </figure>
        <figure align="left">
          <br>
            <figcaption style="font-weight: bold;">
              <h4>Why we are Showcasing</h4>
            </figcaption>
          <ul style ="text-align:left;">
            <li>MongoDB has assigned account representatives for all of their customers and authorized customer
              representatives are provided a PIN so that they can authenticate themselves and have access to
              MongoDB technical resources.</li>
          </ul>
          </figure>
          <figure align="left">
            <br>
              <figcaption style="font-weight: bold;">
                <h4>Demo Story</h4>
              </figcaption>
            <ul style ="text-align:left;">
              <li>John is a MongoDB customer and has a specific question about how to configure a MongoDB product.
                He calls into the MongoDB help line and is automatically connected with his account representative
                after authenticating himself in the IVR.  John’s case is automatically popped for his account
                representative when the call is delivered to him.</li>
            </ul>
            </figure>
            <br>
            <br>
            <h2>- User Stories -</h2>
            <figure align="left">
              <br>
                <figcaption style="font-weight: bold;">
                  <h4>Repeat High Value Customer (DE, 30 mins)</h4>
                </figcaption>
              <ul style ="text-align:left;">
                <li>John calls in, gives reason as to call through voice IVR</li>
                  <li>SFDC DD to check account owner/route to designated TAM with audio message of “your TAM is available, would you like to be connected?”
                    <ul>
                      <li>If not available, give queue to callback or option to be transferred to a live agent based off of SFDC Account Value (SFDC DD)</li>
                    </ul>
                  </li>

                  <li>If DD not recognized, Input IVR for company specific PIN # to be routed to TAM</li>
                  <li>If no PIN #, route to support agents based off of voice IVR response</li>
              </ul>
              </figure>
              <figure align="left">
                <br>
                  <figcaption style="font-weight: bold;">
                    <h4>Technical Support Engineer (DE)</h4>
                  </figcaption>
                <ul style ="text-align:left;">
                  <li>Clear context prior to accepting call</li>
                    <li>Hyperlinks to meaningful content</li>
                    <li>Authentication fields for customer through 3rd party web service with scripting??? (might not be necessary but could be cool to show)</li>
                    <li>AA knowledge base for relevant articles to the issue</li>
                    <li>AA scheduling for field agent or a follow up call</li>
                    <li>CSAT survey post call/ mood average (SE)</li>
                </ul>
                </figure>
                <figure align="left">
                  <br>
                    <figcaption style="font-weight: bold;">
                      <h4> Supervisor/Manager (SE)</h4>
                    </figcaption>
                  <ul style ="text-align:left;">
                    <li>Live dashboard: calls in queue, SLA, etc. (SE)</li>
                      <li>Custom Explore Dashboard: overflow to premium agents vs. CSAT, disposition vs. CSAT (SE)</li>
                      <li>Slack notifications for queue size, poor CSAT score (DE)</li>
                      <li>Observe.ai for QA (SE)</li>
                  </ul>
                  </figure>
    </div>
  </div>
</section>
{% endblock %}
